@model Cart

@{

}
<form method="post">
    <input hidden asp-for="ProductId" />
    <h2 style="text-align:center;color:orange">Markt10</h2>
    <div class="container border mt-4" style="border-radius:10px;display:flex;justify-content:space-between">
        <div class="rigth mt-3" style="width:200px;height:250px">
            <img src="@Model.Product.Photo" style="width:200px;height:150px" />
        </div>
        <div class="mid mt-3" style="width:400px;height:250px">
            <h3>@Model.Product.Name</h3>
            <p>Product No: @Model.Id</p>
        </div>
        <div class="left mt-3" style="width:300px;height:250px">
            <h2>@Model.Product.Price<i class="bi bi-currency-euro fs-5"></i></h2>
            <div><input asp-for="Count" class="form-control" /></div>
            <button class="btn mt-3" type="submit" style="width:250px;background-color:orange;height:40px;border:none;border-radius:20px"><i class="bi bi-cart"></i> Add Cart</button>
            <a type="submit" class="btn btn-secondary mt-3" style="width:250px;height:40px;border-radius:20px" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> Back Home</a>

        </div>
    </div>
</form>

